body {
    margin: 0%; 
    background-image: url("slika2.jpg");
    text-align: center;
    background-position: center;
    
}

* {
    font-family: 'Press Start 2P', cursive;
}


#poeni {
    margin-top: 1%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* float: left; */
    /* font-weight: bold;
    font-style: italic;
    text-align: center; */
}

canvas {
    margin-top: 1%;
    height: 85vh;
    
}


#tetris {
    opacity: 0.96;
    
} 